{{ define "main" }}
<main id="main">
  {{ if .IsHome }}
    {{ partial "home_intro.html" . }}
  {{ end }}
  {{ if not .IsHome }}
  <h1>{{ .Title }}</h1>
  {{ end }}

    {{ $currentLang := .Site.Language.Lang }}
    {{ $pages := .Pages }}
    {{ if .IsHome }}
    {{ $pages = (where (where site.AllPages "Section" "posts") "Kind" "page") }}
    {{ end }}
    {{ range $pages }}
      {{if or (not .Translations) (eq .Lang $currentLang )}}
        {{ partial "list_summary.html" . }}
      {{ end }}
    {{ end }}
</main>
{{ end }}