<style>
main img {
  max-width: 100%;
  margin-top: 3.75rem;
  box-shadow: 5px 5px 15px 5px rgba(150,50,0,0.3);
}

main > *:first-child {
  margin-top: 0;
}

main h1:first-of-type, main h2:first-of-type, main h3:first-of-type, main img:first-of-type {
  margin-top: 0;
}

main blockquote {
    background: rgba(0, 0, 0, 0.05);
    margin: 0;
    padding: 1.875rem;
    padding-left: 3.75rem;
    margin-bottom: 1.875rem;
    box-shadow: 5px 5px 15px 5px rgba(150,50,0,0.3);
}

main blockquote > p:first-child {
    margin-top: 0;
}

main blockquote > p:last-child {
    margin-bottom: 0;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    color: var(--color-accent);
}


main article {
  margin-bottom: 3.5rem;
}

main article h1, main article h2 {
    border-bottom: 1px solid var(--color-accent);
    padding-bottom: 2px;
    margin-bottom: -2px;
    box-sizing: border-box;
}

main article footer {
  border-top: 1px dashed #bbb;
  margin-top: 1.875rem;
  padding-bottom: 1.875rem;
}

main article footer .pull-right {
  float: right;
}
</style>