<style>
/* Skip link */
[href="#main"] {
    display: block;
    width: 100%;
    padding: 0.75rem;
    color: #fefefe;
    background: #000;
    position: absolute;
    top: -3rem;
    text-align: center;
    z-index: 1;
}
[href="#main"]:focus {
    top: 0;
    outline: none;
}

a {
    color: var(--color-accent);
    text-decoration: underline;
    padding: 0.2em;
}

a:hover {
    color: white;
    background: var(--color-accent);
    text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, a > h1, a > h2, a > h3, a > h4, a > h5, a > h6 {
    text-decoration: none;
    padding: 0;
}
</style>