{{ define "main" }}
<main id="main">
    {{ $archYear := .Date.Format "2006" }}

    <h1>{{ i18n "archive_for" }} {{ $archYear }}</h1>

    {{ $currentLang := .Site.Language.Lang }}

    {{ $pages := (where (where site.AllPages "Section" "posts") "Kind" "page") }}
    {{ range $pages }}
        {{ if eq (.Date.Format "2006") $archYear }}
            {{if or (not .Translations) (eq .Lang $currentLang )}}
                {{ partial "list_summary.html" . }}
            {{ end }}
        {{ end }}
    {{ end }}
</main>
{{ end }}